/* @import "style_debug.css"; */

body {
    font-family: Arial, Helvetica, sans-serif;

    /* https://stackoverflow.com/questions/18229387/wrap-a-long-single-word-using-css */
    /* This was cutting of mid word */
    /*word-wrap: break-word;
    word-break: break-all;*/
}

/* https://tobiasahlin.com/blog/flexbox-break-to-new-row/ */
.break {
    flex-basis: 100%;
    height: 0;
}

/* Nav */
.navContainer {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: auto;

    grid-template-areas: 
        "header"
        "nav";
}

header {
    grid-area: header;
}

header a {
    text-decoration: none;
    color: black;
}

nav a {
    color: white;
    background-color: #555555;

    padding: 2px;

    text-decoration: none;
}

.show {
    display: block;
}

/* Banner */
/* https://www.w3schools.com/cssref/pr_background-position.asp */
.banner {
    background-image: url("images/beach.webp");
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 12em;
}

.banner h2 {
    /* TODO: Fit text to container */
    text-align: center;
    font-size: 2.5vw;

    color: white;

    /* https://stackoverflow.com/questions/11323813/how-to-outline-text-in-html-css */
    text-shadow:
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    2px 2px 0 #000;  
}

/* Holidays/categories */
.holidays, .categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.holidays a, .categories a {
    text-decoration: none;
    color: inherit;
}

.holidayBox {
    margin: 1%;

    border: 1px solid black;

    background-size: 100%;
    background-repeat: no-repeat;

    position: relative;
}

.holidayBox .title {
    background-color: rgb(255, 255, 255, 0.7);
    padding: 0.5em;

    margin-bottom: 0;
}

.holidayBox .country {
    background-color: rgb(255, 255, 255, 0.7);
    float: right;
    padding: 2px;
    padding-right: 5px;
}

.holidayBox .priceDuration {
    width: auto;
    display: inline-block;
    
    padding: 2px;
    padding-left: 5px;

    background-color: rgb(255, 255, 255, 0.7);
}

/* Holiday details */
/* See media queries */
.holidayDetails {
    display: grid;
}

/* All direct children */
.holidayDetails > * {
    border: 1px solid black;
}

.holidayDetails .header {
    /* TODO: Auto resize */
    grid-area: header;
    text-decoration: underline;
}

.holidayDetails .description {
    grid-area: description;
}

.holidayDetails .type {
    grid-area: type;
}

.holidayDetails .location {
    grid-area: location;
}

.holidayDetails .country {
    grid-area: country;
}

.holidayDetails .images {
    grid-area: images;
}

.holidayDetails .duration {
    grid-area: duration;
}

.holidayDetails .price {
    grid-area: price;
}

.holidayDetails .book {
    grid-area: book;
}

.adminSelect {
    width: 100%;
    border: 1px solid gray;
    border-radius: 5px;
}

.adminTable, .adminTable th, .adminTable tr td {
    border: 1px solid black;
    /* https://www.w3schools.com/cssref/pr_border-collapse.asp */
    border-collapse: collapse;
    padding: 2px;
}

/* Media Queries */
@media screen and (orientation: landscape) {
    /* No ham menu */
    .ham_button {
        display: none;
    }

    .holidayBox {
        width: 30vw;
        height: 15vw;
    }

    .holidayBox .description {
        background-color: rgb(255, 255, 255, 0.7);
        padding: 0.5em;
    
        /* https://flaviocopes.com/css-how-to-put-item-bottom-container/ */
        position: absolute;
        bottom: 0;
    
        overflow: hidden;

        min-height: 3em;
        max-height: 5em;
    }

    nav .search {
        float: right;
    }

    /* Holiday details */
    .holidayDetails {
        grid-template-rows: auto;
        grid-template-columns: auto auto 20%;
    
        grid-template-areas: 
            "header header type"
            "description description location"
            "description description country"
            "images images images"
            "duration price book";
    }

    .holidayDetails .images {
        height: 25em;
    }
    
    .holidayDetails .images img {
        display: block;
        width: auto;
        height: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media screen and (orientation: portrait) {
    /* Ham Menu */
    .ham_button {
        font-size: 2em;
        position: absolute;
        right: 0;
        top: 0;
    }

    .holidayBox .description {
        /* Not enough space on mobile */
        display: none;
    }

    nav {
        display: none;
    }

    nav a, nav .search {
        display: block;
        width: 100%;

        margin-top: 2px;
    }

    /* Holidays/categories */
    .holidays, .categories {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }

    .holidayBox {
        width: 90vw;
        height: 45vw;
    }

    /* Holiday details */
    .holidayDetails {
        grid-template-rows: auto;
        grid-template-columns: auto;
    
        grid-template-areas: 
            "header header header"
            "type type type"
            "description description description"
            "location location country"
            "images images images"
            "duration price book";
    }

    .holidayDetails .images img {
        width: 100%;
    }
}

/* https://ferie.medium.com/detect-a-touch-device-with-only-css-9f8e30fa1134 */
/* Only apply to touchscreens */
@media screen and (hover: hover) {
    /* https://css-tricks.com/snippets/css/scale-on-hover-with-webkit-transition/ */
    .holidayBox {
        transition: all .2s ease-in-out;
    }

    .holidayBox:hover { transform: scale(1.05); }
}